body,
html {
  box-sizing: border-box;
  margin: 0;
}

.Main {
  text-align: left;
  color: #fff;
  /* background-color: #108ee9; */

};

.container {
  height: 50vh;
  width: 50vh;
  margin: 0 auto;
  text-align: center;
  background-color: #b64343;
};